In [1]:
# tablebuilder.singstat.gov.sg/api/table/tabledata/{resourceId}

import json
import requests
import pandas as pd 

urlData = "https://tablebuilder.singstat.gov.sg/api/table/tabledata/M212881"

result = requests.get(urlData).json()
result = result['Data']

In [2]:
key_value_pairs = result['row'][0]['columns']
# turn into a dataframe
df = pd.DataFrame(key_value_pairs)
# rename columns 
df.columns = ['year_month', 'Value']
# convert to datetime
df['year_month'] = pd.to_datetime(df['year_month'], format='%Y %b')
# rename columns
df.columns = ['Month', 'Value']
# set index
df.set_index('Month', inplace=True)

In [6]:
# df.to_csv("../data/cpi.csv")
df

              Value
Month
1961-04-01   24.187
1961-08-01   24.517
1961-12-01   24.487
1961-02-01   24.565
1961-01-01   24.542
...             ...
2022-11-01  110.959
2022-10-01  109.893
2022-09-01  110.339
2023-02-01  112.019
2023-01-01  111.397

[746 rows x 1 columns]